NODE_ENV=development
MONGODB_URL=mongodb+srv://DB_USERNAME:DB_PASSWORD@cluster.mongodb.net/telemedicine
PORT=8000
WEB_FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=your-livekit-api-secret

GEMINI_API_KEY=your-gemini-api-key